# List

1. Lists are the most versatile of Python's compound data types. 

2. A list contains items separated by commas and enclosed within square brackets [].

3. One difference between them is that all the items belonging to a list can be of different data type

4. Lists need not be homogeneous always which makes it the most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects.

5. Lists are mutable, and hence, they can be altered even after their creation.

6. List in Python are ordered and have a definite count. 

7. The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index.

8. Each element in the list has its definite place in the list, which allows duplicating of elements in the list, with each element having its own distinct place and credibility.

## Creating list

In [1]:
# creating an empty list

li = []

In [2]:
# assigning the desired list to variable

list1 = [2, 5, 3, 9, 50]

list1

[2, 5, 3, 9, 50]

In [3]:
# mixed type of values
# (Having numbers and strings)

list2 = [1, 2, 'India', 4, 'For', 6, 'USA', 8.9, 5+8j]

list2

[1, 2, 'India', 4, 'For', 6, 'USA', 8.9, (5+8j)]

In [4]:
# Typecasting - from set to list

S = {10, 50, 100, 50, 25, 250, 75, 500, 999}
S

list3 = list(S)   # Type-casting

list3

[100, 999, 10, 75, 50, 500, 25, 250]

In [5]:
# typecasting - from a string to list

strg = 'INSOFE'

list(strg)

['I', 'N', 'S', 'O', 'F', 'E']

In [6]:
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)

list4 = [['India', 'is'] , ['Great']]

list4

[['India', 'is'], ['Great']]

In [7]:
# checking the length of the list

len(MyList)

NameError: name 'MyList' is not defined

# Accessing elements from the List

Index number starts from 0 

1. In order to access the list items refer to the index number. 

2. Use the index operator [ ] to access an item in a list. 

3. The index must be an integer. 

4. Nested lists are accessed using nested indexing. 

5. [start index : end index : stride]

In [ ]:
L = ["Michael Jackson", 10.1,1982]
L

In [ ]:
L[0]

In [ ]:
L[1]

In [ ]:
L[2]

In [ ]:
L[0:2] # slicing

In [ ]:
L[3]

IndexError: list index out of range

In [ ]:
# Negative Indexing

# Negative indexing will starts from -1

print(L[-3])

print(L[-2])

print(L[-1])

In [ ]:
# Creating a Multi-Dimensional List

# (By Nesting a list inside a List)

List = [['India', 'is'] , ['Great']]

print(List[0])

print(List[1])

print(List[0][0])

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]

tinylist = [123, 'john']

print (list[1:3]) # Prints elements starting from 2nd till 3rd


print (list[2:]) # Prints elements starting from 3rd element

print (tinylist * 2 )# Prints list two times

print (list + tinylist) # Prints concatenated lists

## stride

In [ ]:
L=["Michael Jackson", 10.1,1982,"MJ",1]
L

L[1::2]

# We can use the method to add new elements to the list:


1. append


2. extend


3. insert

# 1. Using append() method

Elements can be added to the List by using the built-in append() function. 

Only one element at a time can be added to the list by using the append() method, for the addition of multiple elements with the append() method, loops are used. 

Tuples can also be added to the list with the use of the append method because tuples are immutable.

In [ ]:
L=['Michael Jackson', 10.1, 1982, 'MJ', 1]
L

In [ ]:
L.append(5)
L

In [ ]:
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

In [ ]:
# difference between append and extend

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

# Using extend() method

Other than append() and insert() methods, there’s one more method for the Addition of elements, extend(), this method is used to add multiple elements at the same time at the end of the list.
Note – append() and extend() methods can only add elements at the end.

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

In [ ]:
L = [ "Michael Jackson", 10.2]
L.append(78)
L

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend([5,6])
L

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# add the elements to the list
food.extend('Roti')
food

# Using insert() method

# Addition of Element at specific Position (using Insert Method)

append() method only works for the addition of elements at the end of the List, for the addition of elements at the desired position, insert() method is used.

Unlike append() which takes only one argument, the insert() method requires two arguments(position, value).

In [ ]:
List = [1,2,3,4]

List.insert(2, 12)

List

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# add element at index 1
food.insert(1, 'Roti')
food

# Removing Elements from the List

    # remove()
    # pop()
    # clear()

Elements can be removed from the List by using the built-in remove() function but an Error arises if the element doesn’t exist in the set. 

Remove() method only removes one element at a time, to remove a range of elements, the iterator is used. 

The remove() method removes the specified item.

Note – Remove method in List will only remove the first occurrence of the searched element.

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']

# remove 'Rice' element
food.remove('Rice')
food

# Using pop() method

Pop() function can also be used to remove and return an element from the set, but by default it removes only the last element of the set, to remove an element from a specific position of the List, the index of the element is passed as an argument to the pop() method.

In [8]:
List = [1,2,3,4,5] 
  
# Removing element from the  
# Set using the pop() method

List.pop() 

print(List)

[1, 2, 3, 4]

In [9]:
# Removing element at a
# specific location from the
# Set using the pop() method

List.pop(2)

print(List)

[1, 2, 4]

In [10]:
# sorting the list

MyList = [25, 50, 50, 75, 100, 250, 500, 999, 2, 3, 5, 9, 10]

print(MyList.sort())                    # Sorts the list

None

In [11]:
# Reverses the order of the list
    
MyList.reverse()

MyList

[999, 500, 250, 100, 75, 50, 50, 25, 10, 9, 5, 3, 2]

In [12]:
# Returns the index of the first element with the specified value

print(MyList.index(50))                

MyList

5

[999, 500, 250, 100, 75, 50, 50, 25, 10, 9, 5, 3, 2]

In [13]:
 # Returns the number of elements with the specified value

MyList.count(50)

2

In [14]:
# Removes all the elements from the list

MyList.clear()                        
MyList

[]

In [15]:
del Mylist                          # Deletes the complete list

print(Mylist)

NameError: name 'Mylist' is not defined

In [ ]:
MyList = [250, 100, 75, 50, 25, 10, 9, 5, 3, 2]

MyList

In [ ]:
sum(MyList)/len(MyList)

### List Comprehension

In [ ]:
Fruits = ['apple', 'abricot', 'kiwi', 'mango', 'almonds', 'peach', 'orange']

NewList = []

for i in Fruits:
  if 'a' in i:
    NewList.append(i)

NewList

In [ ]:
NewList = []

for i in Fruits:
  if i[0] == 'a':
    NewList.append(i)

NewList

In [ ]:
len(Fruits)

In [ ]:
NewList = []

for i in range(len(Fruits)):
  if Fruits[i][0] == 'a':
    NewList.append(Fruits[i])

NewList

In [ ]:
NewList = [f for f in Fruits if (f != 'kiwi' and f != 'mango')]

NewList

In [ ]:
NewList = [f for f in Fruits if f[0] == 'a']

NewList

In [ ]:
EvenList = [p for p in range(1, 11) if p % 2 == 0]

EvenList

In [ ]:
list1 = [1, 3, 5, 7, 9]
list2 = [2, 4, 6, 8, 10]

list1 + list2

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [2, 4]

list(set(list1).difference(set(list2)))

In [ ]:
l = [2, 5, 20, 50]

l[2] = 10

l

In [ ]:
l[0:len(l)]

# Tuples

1. A Tuple is a collection of Python objects separated by commas.Tuples are written with round brackets.

2. A tuple is a collection which is ordered and unchangeable.

3. A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

4. A tuple is an immutable data type in python, almost similar to a list in python in terms of indexing and having duplicate members. It is a collection data type that stores python objects separated by commas.

In [ ]:
# creating the tuples

MyTuple = ()

MyTuple

In [ ]:
# wrong way

a=(10)

In [ ]:
type(a)

In [ ]:
MyTuple = (50, )

MyTuple

In [ ]:
MyTuple = (25, 50, 75, 100)

print(max(MyTuple))
print(min(MyTuple))
print(len(MyTuple))

In [ ]:
ListToTuple = tuple([1, 3, 5, 10, 25, 50])

ListToTuple

In [ ]:
ListToTuple[0:len(ListToTuple)]

In [ ]:
print(ListToTuple[0])
print(ListToTuple[-1])

print(ListToTuple[len(ListToTuple)//2])
print(ListToTuple[-len(ListToTuple)//2])

In [ ]:
10 in ListToTuple

In [ ]:
tuple(range(10))

In [ ]:
(1, 3, 5) + (2, 4, 6)

In [ ]:
((1, 2, 3), ) * 5

In [ ]:
t = (2, 5, 20, 50)

t[2] = 10

t

# Set

1. A set is a collection which is unordered and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

2. A set is a unique collection of objects in Python. 

3. You can denote a set with a curly bracket <b>{}</b>. Python will automatically remove duplicate items:

4. A Python set is the collection of the unordered items. Each element in the set must be unique, immutable, and the sets remove the duplicate elements. 

5. Sets are mutable which means we can modify it after its creation.

6. Unlike other collections in Python, there is no index attached to the elements of the set, i.e., we cannot directly access any element of the set by the index. However, we can print them all together, or we can get the list of elements by looping through the set.

# Creating a set

The set can be created by enclosing the comma-separated immutable items with the curly braces {}. Python also provides the set() method, which can be used to create the set by the passed sequence.

In [16]:
# creating empty set

a={}
a

{}

In [17]:
type(a)

dict

Creating an empty set is a bit different because empty curly {} braces are also used to create a dictionary as well. So Python provides the set() method used without an argument to create an empty set.

In [18]:
# Empty curly braces will create dictionary  
set3 = {}  
print(type(set3))  
  
# Empty set using set() function  
set4 = set()  
print(type(set4))

<class 'dict'>
<class 'set'>

In [19]:
a = set() # creating an empty set

In [20]:
MySet = set(['Violin', 'Sarod', 'Cello', 'Santoor', 'Sitar'])

MySet.remove('Cello')

print(MySet)

{'Violin', 'Sarod', 'Sitar', 'Santoor'}

In [21]:
MySet.remove('Cello')

KeyError: 'Cello'

### Difference between discard() and remove()

Despite the fact that discard() and remove() method both perform the same task, There is one main difference between discard() and remove().

If the key to be deleted from the set using discard() doesn't exist in the set, the Python will not give the error. The program maintains its control flow.

On the other hand, if the item to be deleted from the set using remove() doesn't exist in the set, the Python will raise an error.

Consider the following example.

In [ ]:
MySet.discard("Violin")
print(MySet)

MySet.discard("Violin")
print(MySet)

In [ ]:
MySet.update(("Violin", "Cello", "Shehnai"))

MySet

In [ ]:
print(MySet.pop())             # removes and returns a random element from the set

MySet

In [ ]:
MySet.clear()

MySet

In [ ]:
Set1 = {1, 2, 3, 4, 5, 6}
Set2 = {4, 5, 6, 7, 8, 9}

print(Set1 | Set2)           # Union
print(Set1 & Set2)           # Intersection

print(Set1 - Set2)           # Differences
print(Set2 - Set1)

print(Set1 ^ Set2)           # Symmetric Difference = (Set1 - Set2) | (Set2 - Set1)

In [ ]:
Set3 = {1, 2, 3}

print(Set3.issubset(Set1))
print(Set1.issuperset(Set3))
# print(Set1.isdisjoint(Set3))

### Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

### Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Every set element is unique (no duplicates) and must be immutable (cannot be changed). However, a set itself is mutable. We can add or remove items from it.

### Duplicates Not Allowed
Sets cannot have two items with the same value.

## Dictionary

In [22]:
# Creating Dictionary

MyDict1 = {1:'Sunday', 2:'Monday', 3:'Tuesday', 4:'Wednesday', 5:'Thursday', 6:'Friday', 7:'Saturday'}
MyDict1

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 7: 'Saturday'}

In [23]:
MyList1 = [1, 2, 3, 4, 5, 6, 7]
MyList2 = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

MyDict2 = dict(zip(MyList1, MyList2))
MyDict2

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 7: 'Saturday'}

In [24]:
# Creating a Dictionary 
# with each item as a Pair 

Dict = dict([(1, 'India'), (2, 'For')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Dictionary with each item as a pair:
{1: 'India', 2: 'For'}

In [25]:
MyDict3 = dict.fromkeys(MyList1, 'Holiday') #Returns a dictionary with the specified keys and value

MyDict3

{1: 'Holiday',
 2: 'Holiday',
 3: 'Holiday',
 4: 'Holiday',
 5: 'Holiday',
 6: 'Holiday',
 7: 'Holiday'}

In [26]:
print(MyDict1.keys())

print(MyDict1.values())

print(MyDict1.items())

dict_keys([1, 2, 3, 4, 5, 6, 7])
dict_values(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'])
dict_items([(1, 'Sunday'), (2, 'Monday'), (3, 'Tuesday'), (4, 'Wednesday'), (5, 'Thursday'), (6, 'Friday'), (7, 'Saturday')])

In [27]:
MyDict1.get(3)

'Tuesday'

In [28]:
MyDict1.update({1:'DaysInWeek'})

MyDict1

{1: 'DaysInWeek',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 7: 'Saturday'}

In [29]:
MyDict2.update({0:'DaysInWeek'})

MyDict2

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 7: 'Saturday',
 0: 'DaysInWeek'}

# Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [30]:
car1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car1.setdefault("model", "Bronco")
car1.setdefault("color", "White")

car1

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

# Adding Element in Dictionary

In [31]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
# Adding elements one at a time 
Dict[0] = 'India'
Dict[2] = 'For'
Dict[3] = 1
Dict['a']=6
Dict[9]=100
print("\nDictionary after adding 3 elements: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'India', 2: 'For', 3: 1, 'a': 6, 9: 100}

In [32]:
Dict[10]=200
Dict

{0: 'India', 2: 'For', 3: 1, 'a': 6, 9: 100, 10: 200}

In [33]:
Dict[2]

'For'

In [34]:
Dict

{0: 'India', 2: 'For', 3: 1, 'a': 6, 9: 100, 10: 200}

In [35]:
# pop

In [36]:
print(MyDict2.pop(0))

MyDict2

DaysInWeek

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 7: 'Saturday'}

In [37]:
print(car1.popitem())

car1

('color', 'White')

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

List: Ordered, changeable, allow duplicates
    
Tuple: Ordered, Not Changeable, allow duplicates
    
dictionary: Ordered ,Changebale , not allow ducplicates